<ion-grid>
  <!-- <ion-col justify-content-center class="center-text-footer">
    <h2 class="section-title">{{ 'organizedBy' | translate }}</h2>
  </ion-col>
  <ion-row justify-content-around>
    <img class="footer-img" src="../../assets/images/ATL_512x512.webp" alt="Asociația Atlantykron" />

  </ion-row> -->
  <div class="material-card">
    <ion-row justify-content-center>
      <ion-button class="footer-btn" fill="clear" expand="full" (click)="navPrivacyPolicy()">
        {{ 'privacyPolicy' | translate }}
      </ion-button>
      <ion-button class="footer-btn" fill="clear" expand="full" (click)="navTerms()">
        {{ 'termsAndConditions' | translate }}
      </ion-button>
      <ion-button class="footer-btn" fill="clear" expand="full" (click)="navContact()">
        Contact
      </ion-button>
      <ion-button href="https://atlantykron.org/2015/" class="footer-btn" fill="clear" expand="full">
        {{ 'oldAtlantykron' | translate }}
      </ion-button>
      <ion-button href="http://atlantykron.org/site-vechi/index_old.htm" class="footer-btn" fill="clear" expand="full">
        {{ 'archiveAtlantykron' | translate }}
      </ion-button>
      <ion-button href="https://www.facebook.com/Atlantykron" class="footer-btn" fill="clear" expand="full">
        <ion-icon name="logo-facebook"></ion-icon>
      </ion-button>
      <ion-button href="https://www.instagram.com/atlantykron/" class="footer-btn" fill="clear" expand="full">
        <ion-icon name="logo-instagram"></ion-icon>
      </ion-button>
    </ion-row>
  </div>
</ion-grid>
<p class="copyright-text center-text-footer">
  {{ 'copyright' | translate }}
</p>