.call-to-action {
    font-weight: bold;
    --padding-bottom: 25px;
    --padding-end: 40px;
    --padding-start: 40px;
    --padding-top: 25px;
    --box-shadow: none;
}

#hero-container {
    background:
        linear-gradient(rgba(68, 68, 68, 0.1),
            rgba(17, 17, 17, 0.7)),
        url('../../assets/images/hero.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    background-position-y: bottom;
    width: 100%;
    min-height: 875px;
}

#hero-image {
    width: 100%;
    position: absolute;
    margin-top: 0;
}

.hero-subheader {
    color: white;
    opacity: .80;
    font-size: 40px;
    font-style: bold;
}

#hero-title {
    color: white;
    font-size: 60px;
    font-weight: bolder;
    background: rgba(17, 17, 17, 0.7);
}

#logo {
    display: block;
    margin: 0 auto;
    width: 80%;
    max-width: 500px;
    justify-content: center;
}

.overlay-navbar {
    margin-top: -90px;
    padding-top: 90px;
}

.space-hero-subt {
    margin-top: 4%;
    margin-bottom: 1%;
}

.space-hero-subt-years {
    margin-top: 2%;
    margin-bottom: 1%;
    font-size: 35px;
}

.space-hero-title {
    margin-top: 10%;
}