<div id="hero-container" class="overlay-navbar">
  <div id="hero-content">
    <div id="hero-content-position" class="ion-text-center ion-justify-content-center" fxLayout="column"
      fxLayoutAlign="center center">
      <img src="../../assets/logo/logo_white_atlantykron.svg" alt="Atlantykron Logo" id="logo" />

      <ion-button shape="round" class="call-to-action" [ngClass]="{ 'space-hero-btn': !mobile }"
        (click)="navigateToParticipate()">
        {{ 'callToAction' | translate }}
      </ion-button>
      <div id="scrim">
        <h2 class="hero-subheader" *ngIf="!mobile" [ngClass]="{ 'space-hero-subt': !mobile }">
          {{ 'editionNumber' | translate }}
        </h2>
        <h2 class="hero-subheader" *ngIf="!mobile" [ngClass]="{ 'space-hero-subt': !mobile }">
          {{ 'dates' | translate }}
        </h2>
      </div>
    </div>
  </div>
</div>