<ion-header no-border [ngClass]='{"ion-header-padding": !mobile}'>
    <ion-toolbar [ngClass]='{"navbar-home": !mobile && router.url == "/home"}'>
        <ion-buttons slot="start" *ngIf='mobile'>
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-grid>
            <ion-row class="ion-justify-content-center">
                <ion-button 
                    fill='clear' 
                    expand='full' 
                    [attr.color]="router.url == '/home' ? 'light' : 'dark'" 
                    *ngIf='!mobile' 
                    class='navbar-button'
                    (click)="navigateToHome()">
                    Logo
                </ion-button>
                <ion-button 
                    fill='clear' 
                    expand='full' 
                    [attr.color]="router.url == '/home' ? 'light' : 'dark'" 
                    *ngIf='!mobile' 
                    class='navbar-button'
                    [ngClass]='{"active-home": router.url == "/home"}'
                    (click)="navigateToHome()"
                    >
                    Acasă
                </ion-button>
                <ion-button 
                    fill='clear' 
                    expand='full' 
                    [attr.color]="router.url == '/home' ? 'light' : 'dark'" 
                    *ngIf='!mobile' 
                    class='navbar-button'
                    (click)="navigateToInvitations()">
                    Invitați
                </ion-button>
                <ion-button 
                    fill='clear' 
                    expand='full' 
                    [attr.color]="router.url == '/home' ? 'light' : 'dark'" 
                    *ngIf='!mobile' 
                    class='navbar-button'
                    (click)="navigateToCourses()">
                    Cursuri
                </ion-button>
                <ion-button 
                    fill='clear' 
                    expand='full' 
                    [attr.color]="router.url == '/home' ? 'light' : 'dark'" 
                    *ngIf='!mobile' 
                    class='navbar-button'
                    (click)="navigateToConferences()">
                    Conferințe
                </ion-button>
                <ion-button 
                    fill='clear' 
                    expand='full' 
                    [attr.color]="router.url == '/home' ? 'light' : 'dark'" 
                    *ngIf='!mobile' 
                    class='navbar-button'
                    (click)="navigateToInstructors()">
                    Instructori
                </ion-button>
                <ion-button 
                    fill='clear' 
                    expand='full' 
                    [attr.color]="router.url == '/home' ? 'light' : 'dark'" 
                    *ngIf='!mobile' 
                    class='navbar-button'
                    (click)="navigateToSponsors()">
                    Sponsori
                </ion-button>
                <ion-button 
                    fill='clear' 
                    expand='full' 
                    [attr.color]="router.url == '/home' ? 'light' : 'dark'" 
                    *ngIf='!mobile' 
                    class='navbar-button'
                    (click)="navigateToContact()">
                    Contact
                </ion-button>
                <ion-button 
                    fill='clear' 
                    expand='full' 
                    [attr.color]="router.url == '/home' ? 'light' : 'dark'" 
                    *ngIf='!mobile' 
                    class='navbar-button'
                    (click)="navigateToLogin()"
                    >
                    Login
                </ion-button>
            </ion-row>
        </ion-grid>
    </ion-toolbar>
</ion-header>