.active {
    border-bottom: 5px solid var(--ion-color-primary);    
}

.active-home {
    border-bottom: 5px solid white;
}

.navbar-button {
    font-size: 18px;
    color: black;
}

.navbar-home {
    background-color: transparent;
    box-shadow: 0px;
}

ion-toolbar {
    --border-width: 0;
    --background: transparent;
}
