<ion-grid>
  <ion-row>
    <ion-row>
      <img src="../../assets/illustrations/Guide_Illustration.svg" alt="Guide Illustration" class="guide-img"
        [ngClass]="{ 'no-margin': mobile || tablet, 'smaller-img': !mobile }" />
      <ion-col class="section-col">
        <h2 class="section-title">{{ 'typicalDay' | translate }}</h2>
        <p class="section-text">{{ 'typicalDayDescription' | translate }}</p>
        <ion-button fill="outline" class="section-button" (click)="navigateToParticipateGuide()">{{ 'findOutMore' |
          translate
          }}
        </ion-button>
        <p class="section-text">{{ 'participationGuide' | translate }}</p>
        <ion-button fill="outline" class="section-button" (click)="navigateToParticipateRules()">{{ 'goToGuide' |
          translate
          }}
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-row>
</ion-grid>