<ion-grid>
	<ion-row>
		<ion-row>
			<img src='../../assets/illustrations/Guide Illustration.svg' alt='Guide Illustration' class='guide-img'
			[ngClass]="{'no-margin': mobile || tablet, 'smaller-img': !mobile}">
			<ion-col class='section-col'>
				<h2 class="section-title">O zi tipică într-o tabără atipică</h2>
				<p class='section-text'>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et</p>
				<ion-button fill='outline' class='section-button'>Află Mai Multe
				</ion-button>
				<p class='section-text'>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et</p>
				<ion-button fill='outline' class='section-button'>Ghid Participare
				</ion-button>
			</ion-col>
		</ion-row>
	</ion-row>
</ion-grid>