<ion-col class="content-col">

  <div class="img-container">
    <img src="../../assets/images/organizers/ATL_512x512.webp" class="image-main" alt="Asociatia Atlantykron" />
  </div>

  <p>{{ 'history1' | translate }}</p>
  <h2>{{ 'historySubtitle' | translate }}</h2>
  <p>{{ 'history2' | translate }}</p>
  <p>{{ 'history3' | translate }}</p>
  <p>{{ 'history4' | translate }}</p>
  <p>{{ 'history5' | translate }}</p>
  <p>{{ 'history6' | translate }}</p>
  <p>{{ 'history7' | translate }}</p>
</ion-col>