<h2 class="section-title">Ce este Atlantykron?</h2>
<p class="section-subtitle">
	Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero
</p>
<ion-grid>
	<ion-row class='presentation-illustration-container'>
		<ion-col class='illustration-column'>
			<img src="../../assets/illustrations/Science Illustration.svg" 
				class='presentation-illustration'
				alt="Science Illustration"/>
			<div class='illustration-content-container'>
				<h3 class='illustration-subtitle'>Știință</h3>
				<p class='illustration-description'>
					Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor 
				</p>
				<hr class='illustration-divider divider-thicker'>
			</div>
		</ion-col>
		<!-- <img src="../../assets/illustrations/Path 2575.svg" id='first-path'/> -->
		<ion-col>
			<img src="../../assets/illustrations/Art Illustration.svg" 
				class='presentation-illustration illustration-bump-down'
				alt="Art Illustration"/>
				<div class='illustration-content-container'>
					<h3 class='illustration-subtitle'>Artă</h3>
					<p class='illustration-description'>
						Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor 
					</p>
					<hr class='illustration-divider'>
				</div>
		</ion-col>
		<!-- <img src="../../assets/illustrations/Path 2577.svg" id='third-path'/> -->
		<ion-col>
			<img src="../../assets/illustrations/Culture Illustration.svg" 
				class='presentation-illustration'
				alt="Culture Illustration"/>
				<div class='illustration-content-container'>
					<h3 class='illustration-subtitle'>Cultură</h3>
					<p class='illustration-description'>
						Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor 
					</p>
					<hr class='illustration-divider divider-thicker'>
				</div>
		</ion-col>
		<!-- <img src="../../assets/illustrations/Path 2575.svg" id='second-path'/> -->
		<ion-col>
			<img src="../../assets/illustrations/Sport Illustration.svg" 
				class='presentation-illustration illustration-bump-down'
				alt="Sport Illustration"/>
				<div class='illustration-content-container'>
					<h3 class='illustration-subtitle'>Sport</h3>
					<p class='illustration-description'>
						Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor 
					</p>
					<hr class='illustration-divider'>
				</div>
		</ion-col>
	</ion-row>
</ion-grid>

<ion-button fill='outline' class='presentation-button' (click)='navCourses()'>Vezi Toate Cursurile</ion-button>