<<<<<<< HEAD

#background{
    background-color: #e6dede;
    //margin-top: -20px;
    height: 100%;
}

#card{
    background-color: white;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    height: 80%;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow: 10px 10px 20px 10px rgba(0, 0, 255, .2);
    margin-bottom: 30px;
}


#login-card{
    text-align: center;
    border-radius: 10px;
    align-self: center;
    width: 60%;
    //background-color: #caaaaa;
    //padding:30px;
}


ion-col{
    display: flex;
}

#login-grid{
    height: 100%;
}
#login-row{
    height: 90%;
}
#login-btn{
    margin-top: 20px;
}
#pass-forgot{
    display: inline-flex;
}
a{
    color: rgb(59, 23, 156);
    margin-top: 16px;
    cursor: pointer;
}
=======
#click-here {
    color: var(--ion-color-secondary);
}

#forgot {
    cursor: pointer;
}

#form-col {
    text-align: center;
}

.form-item {
    margin: 30px auto 30px auto;
    max-width: 400px;
}

ion-content {
    --ion-background-color: #eeeeee;
}

#login-blob {
    margin-left: -280px;
    z-index: 0;
}

.login-button {
    --border-color: var(--ion-color-secondary);
    --border-radius: 30px;
    cursor: pointer;
    --color: var(--ion-color-secondary);
    margin-top: 10px;
    margin-bottom: 20px;
    --padding-bottom: 20px;
    --padding-left: 25px;
    --padding-right: 25px;
    --padding-top: 20px;
}

#material-card {
    background-color: white;
	border-radius: 10px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
	box-shadow: 380px;
	left: 0;
	margin: 0 auto 0 auto;
	margin-left: auto;
	margin-right: auto;
    right: 0;
    padding-top: 60px;
	width: 90%;
}

.svg-login {
    height: 385px;
    margin-bottom: 150px;
    margin-right: 40px;
    width: 400px;
    z-index: 1;
}

>>>>>>> 175ea6a853df00b9c5acae6ba031d06e8cf7171a
