
ion-content {
    --ion-background-color: #eeeeee;
}

#material-card {
    background-color: white;
	border-radius: 10px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
	box-shadow: 380px;
	left: 0;
	margin: 0 auto 0 auto;
	margin-left: auto;
	margin-right: auto;
    right: 0;
    padding-top: 60px;
	width: 90%;
}

ion-item{
    margin:30px;
}


.message-col{
    padding-left: 150px;
    padding-right: 50px;    
    padding-bottom: 100px;
    text-align: center;
    font-size: 24px;
}
.message-btn{
    --border-color: var(--ion-color-secondary);
    --border-radius: 30px;
    cursor: pointer;
    --color: var(--ion-color-secondary);
    margin-top: 80px;
    margin-bottom: 20px;
    --padding-bottom: 20px;
    --padding-left: 25px;
    --padding-right: 25px;
    --padding-top: 20px;
}
.contact-map{
    padding-right: 150px;
    padding-bottom: 100px;
    padding-left: 50px;
}
