#forgot {
    cursor: pointer;
}

#form-col {
    text-align: center;
}

.form-item {
    margin: 30px auto 30px auto;
    max-width: 600px;
}

ion-content {
    --ion-background-color: #eeeeee;
}

.error-msg {
    color: red;
}

.success-msg {
    color: limegreen;
}

.login-button {
    --border-color: var(--ion-color-secondary);
    --border-radius: 30px;
    cursor: pointer;
    --color: var(--ion-color-secondary);
    margin-top: 10px;
    margin-bottom: 20px;
    --padding-bottom: 20px;
    --padding-left: 25px;
    --padding-right: 25px;
    --padding-top: 20px;
}

#material-card {
    background-color: white;
	border-radius: 10px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
	box-shadow: 380px;
	left: 0;
	margin: 0 auto 0 auto;
	margin-left: auto;
	margin-right: auto;
    right: 0;
    padding-top: 60px;
	width: 90%;
}

.svg-login {
    height: 250px;
    margin-bottom: 150px;
    margin-right: 80px;
    width: 400px;
    z-index: 1;
}
