ion-content {
    --ion-background-color: #eeeeee;
}

.single-entry-image {
    margin: 0 auto;
    justify-content: center;
    max-height: 365px;
    width: 100vw;
}

.single-entry-title {
    position: absolute;
    text-align: center;
    margin-left: auto;
    left: 0;
    right: 0;
    margin-top: 5vh;
    font-size: 42px;
    color: white;
}

#material-card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 380px;
    left: 0;
    margin: -70px auto 0 auto;
    margin-left: auto;
    margin-right: auto;
    right: 0;
    padding-top: 60px;
    width: 90%;
}

#hero-container {
    background:
        linear-gradient(rgba(68, 68, 68, 0.1),
            rgba(17, 17, 17, 0.7)),
        url('../../assets/images/17017233_10210709430104890_7762668526959517728_o.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 35%;
    width: 100%;
}

.single-entry-title {
    color: white;
    text-align: center;
    margin-top: 0;
    padding: 104px;
}

.spinner {
    width: 100%;
    align-items: center;
    margin: 50px auto;
    justify-content: center;
    display: flex;
}

.main-col {
    padding: 0px 50px 50px 50px;
    text-align: justify;
}

.presenceYears {
    text-align: center;
}

.space {
    padding-bottom: 30px;
}

.instructor-cards {
    cursor: pointer;
}

.pseudo-fancy-card {
    min-width: 230px !important;
    min-height: 250px !important;
    max-width: 500px !important;
    max-height: 400px !important;
    border-radius: 10px;
    margin: 0 0 60px 30px;
    margin-top: inherit;
}

.center-on-mobile {
    padding: 0px;
    width: 100%;
    margin: 0 auto;
    justify-content: center;
}