.active {
    border-right: 9px solid var(--ion-color-secondary);
    margin-right: -7px;
    font-weight: bold;
}

.card-grid {
    display: flex;
    flex-flow: row wrap;
}

.card-grid::after {
    content: "";
    flex: auto;
}

.central-cards {
    margin: 0 auto !important;
    cursor: pointer;
}

ion-content {
    --ion-background-color: #eeeeee;
}

#material-card {
    background-color: white;
    border-radius: 10px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    box-shadow: 380px;
    left: 0;
    margin: 0 auto 0 auto;
    margin-left: auto;
    margin-right: auto;
    right: 0;
    padding-top: 60px;
    width: 90%;
}

.section {
    margin-bottom: 20px;
    margin-left: 100px;
}

.section-center {
    text-align: center;
    margin-left: 0px;
}

.select-step {
    width: 500px;
}

.participate-content {
    padding: 20px;
    margin: 20px;
    width: 100%;
    justify-content: center;
}