<div class="participate-content">
  <div *ngIf="!isLoggedIn">
    <p class="isLoggedIn">{{ 'ensureLogged' | translate }}</p>
    <p class="isLoggedIn">
      {{ 'youCanLogIn' | translate }}
      <span class="link" (click)="navigateToLogin()"
        >{{ 'here' | translate }}.</span
      >
    </p>
  </div>

  <div *ngIf="isLoading" justify-content-center class="spinner">
    <ion-spinner name="circular"></ion-spinner>
  </div>

  <ion-col *ngIf="isLoggedIn && !isLoading" id="form-col">
    <p>{{ 'allFieldsAreMandatory' | translate }}</p>

    <ion-item class="form-item">
      <ion-label position="floating">*E-mail</ion-label>
      <ion-input
        type="email"
        [(ngModel)]="email"
        ngModel
        email
        required
      ></ion-input>
      <ion-note slot="error"></ion-note>
    </ion-item>

    <ion-item class="form-item">
      <ion-label position="floating">{{ 'surname' | translate }}</ion-label>
      <ion-input [(ngModel)]="surname" required></ion-input>
      <ion-note slot="error"></ion-note>
    </ion-item>

    <ion-item class="form-item">
      <ion-label position="floating">{{ 'firstName' | translate }}</ion-label>
      <ion-input [(ngModel)]="firstName" required></ion-input>
      <ion-note slot="error"></ion-note>
    </ion-item>

    <ion-item class="form-item" (ionChange)="onAgeChange($event)">
      <ion-label position="floating">{{ 'age' | translate }}</ion-label>
      <ion-input type="number" [(ngModel)]="age" required></ion-input>
      <ion-note slot="error"></ion-note>
    </ion-item>

    <ion-list *ngIf="age >= 18">
      <ion-radio-group (ionChange)="onIsCaretakerChange($event)" required>
        <ion-list-header>
          <ion-label class="ion-text-wrap"
            >{{ 'areYouCaretaker' | translate }}</ion-label
          >
        </ion-list-header>

        <ion-item>
          <ion-label>{{ 'yes' | translate }}</ion-label>
          <ion-radio value="true"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>{{ 'no' | translate }}</ion-label>
          <ion-radio value="false"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-list>

    <ion-item *ngIf="age >= 18 && isCaretaker" class="form-item">
      <ion-label class="ion-text-wrap" position="floating"
        >{{ 'caretakerOf' | translate }}</ion-label
      >
      <ion-input [(ngModel)]="dependant" required></ion-input>
      <ion-note slot="error"></ion-note>
    </ion-item>

    <ion-item *ngIf="age < 18" class="form-item">
      <ion-label class="ion-text-wrap" position="floating"
        >{{ 'caretaker' | translate }}</ion-label
      >
      <ion-input [(ngModel)]="caretaker" required></ion-input>
      <ion-note slot="error"></ion-note>
    </ion-item>

    <ion-list>
      <ion-radio-group [(ngModel)]="occupation" required>
        <ion-list-header>
          <ion-label>{{ 'occupation' | translate }}</ion-label>
        </ion-list-header>

        <ion-item *ngFor="let occupation of occupations">
          <ion-label class="ion-text-wrap">{{ occupation }}</ion-label>
          <ion-radio value="{{ occupation }}"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-list>

    <ion-item class="form-item">
      <ion-label class="ion-text-wrap" position="floating"
        >{{ 'residency' | translate }}</ion-label
      >
      <ion-input [(ngModel)]="cityOfResidence" required></ion-input>
      <ion-note slot="error"></ion-note>
    </ion-item>

    <ion-list>
      <ion-radio-group [(ngModel)]="participatedBefore" required>
        <ion-list-header>
          <ion-label class="ion-text-wrap"
            >{{ 'participatedBefore' | translate }}</ion-label
          >
        </ion-list-header>

        <ion-item>
          <ion-label>{{ 'yes' | translate }}</ion-label>
          <ion-radio value="true"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>{{ 'no' | translate }}</ion-label>
          <ion-radio value="false"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-list>

    <ion-list>
      <ion-radio-group [(ngModel)]="howDidYouFindOut" required>
        <ion-list-header>
          <ion-label class="ion-text-wrap"
            >{{ 'howDidYouFindOut' | translate }}</ion-label
          >
        </ion-list-header>

        <ion-item *ngFor="let findOutMethod of findOutMethods">
          <ion-label>{{ findOutMethod }}</ion-label>
          <ion-radio value="{{ findOutMethod }}"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-list>

    <ion-list>
      <!-- <ion-checkbox-group disabled="selectedCourses.length >=5"  required> -->
      <ion-list-header>
        <ion-label class="ion-text-wrap"
          >{{ 'pick5Courses' | translate }}</ion-label
        >
      </ion-list-header>

      <ion-item
        *ngFor="let course of courses"
        (ionChange)="onCoursesChanged($event)"
      >
        <ion-label class="ion-text-wrap" *ngIf="language === 'ro'">{{ course.roTitle }}</ion-label>
        <ion-label class="ion-text-wrap" *ngIf="language === 'en'">{{ course.enTitle }}</ion-label>
        <ion-checkbox
          [disabled]="
            selectedCourses.length >= 5 &&
            !selectedCourses.includes(course.roTitle)
          "
          value="{{ course.roTitle }}"
        ></ion-checkbox>
      </ion-item>
      <!-- </ion-checkbox-group> -->
    </ion-list>

    <ion-list>
      <ion-radio-group [(ngModel)]="package" required>
        <ion-list-header>
          <ion-label>{{ 'pickOption' | translate }}</ion-label>
        </ion-list-header>

        <ion-item *ngFor="let package of packages">
          <ion-label class="ion-text-wrap">{{ package }}</ion-label>
          <ion-radio value="{{ package }}"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-list>
    <p>
      {{ 'infoTax' | translate }}
    </p>

    <ion-list>
      <ion-radio-group [(ngModel)]="payMethod" required>
        <ion-list-header>
          <ion-label class="ion-text-wrap justify"
            >{{ 'howPay' | translate }}
          </ion-label>
        </ion-list-header>

        <ion-item *ngFor="let payMethod of payMethods">
          <ion-label>{{ payMethod }}</ion-label>
          <ion-radio value="{{ payMethod }}"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-list>

    <p>{{ 'bankDetails' | translate }}</p>

    <p>{{ 'bankAccount' | translate }}</p>

    <p>{{ 'beneficiary' | translate }}</p>

    <p>{{ 'transactionDetails' | translate }}</p>

    <p>{{ 'finalPrices' | translate }}</p>

    <p>{{ 'package1' | translate }}</p>

    <p>{{ 'package2' | translate }}</p>

    <p>{{ 'package3' | translate }}</p>

    <p>{{ 'package4' | translate }}</p>

    <ion-list *ngIf="package === packages[0] || package === packages[2]">
      <ion-radio-group [(ngModel)]="dietaryPreference" required>
        <ion-list-header>
          <ion-label>{{ 'dietaryPreferences' | translate }}</ion-label>
        </ion-list-header>

        <ion-item *ngFor="let dietaryPreference of dietaryPreferences">
          <ion-label class="ion-text-wrap">{{ dietaryPreference }}</ion-label>
          <ion-radio value="{{ dietaryPreference }}"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-list>

    <p class="errors" *ngFor="let error of errors">{{ error }}</p>

    <ion-button fill="outline" class="login-button" (click)="submitForm()"
      >{{ 'finish' | translate }}</ion-button
    >
  </ion-col>
</div>
