.participate-content {
    padding: 40px;
    text-align: center;
}

.link {
    color: var(--ion-color-secondary);
    cursor: pointer;
}

#form-col {
    max-width: 600px;
}

ion-item, ion-list, p {
    margin: 0 auto;
    max-width: 600px;
    margin-bottom: 20px;
}

p {
    text-align: left;
}

.login-button {
    --border-color: var(--ion-color-secondary);
    --border-radius: 30px;
    cursor: pointer;
    --color: var(--ion-color-secondary);
    margin-top: 10px;
    margin-bottom: 20px;
    --padding-bottom: 20px;
    --padding-left: 25px;
    --padding-right: 25px;
    --padding-top: 20px;
}

ion-label {
    font-size: 14px;
}

.isLoggedIn {
    text-align: center !important;
}

.errors {
    color: red;
}