<div class="participate-content">

  <img class="rules-image" src="../../../assets/illustrations/rules.svg" alt='rules illustration'/>

  <p class="wrap-image">
    {{ 'rules1' | translate }}
  </p>

  <p class="wrap-image">
    {{ 'rules2' | translate }}
  </p>

  <ul>
    <li>
      <p>
        <b>{{ 'rules3bold' | translate }}</b> {{ 'rules3' | translate }}
      </p>
    </li>
    <li>
      <p>
        <b>{{ 'rules4bold' | translate }}</b> {{ 'rules4' | translate }}
      </p>
    </li>
    <li>
      <p>
        <b>{{ 'rules5bold' | translate }}</b> {{ 'rules5' | translate }}
      </p>
    </li>
    <li>
      <p>
        {{ 'rules6' | translate }} <b>{{ 'rules6bold' | translate }}</b> {{ 'rules6cont' | translate }}
      </p>
    </li>
    <li>
      <p>
        {{ 'rules7' | translate }} <b>{{ 'rules7bold' | translate }}</b>
      </p>
    </li>
    <li>
      <p>
        <b>{{ 'rules7cont' | translate }}</b>
      </p>
    </li>
    <li>
      <p>
        <b>{{ 'rules8bold' | translate }}</b> {{ 'rules8' | translate }}
      </p>
    </li>
    <li>
      <p>
        <b>{{ 'rules9bold' | translate }}</b> {{ 'rules9' | translate }}
      </p>
    </li>
    <li>
      <p>
        <b>{{ 'rules10bold' | translate }}</b> {{ 'rules10' | translate }}
      </p>
    </li>
    <li>
      <p>
        <b>{{ 'rules11bold' | translate }}</b> {{ 'rules11' | translate }}
      </p>
    </li>
    <li>
      <p>
        {{ 'rules12bold' | translate }}
      </p>
    </li>
    <li>
      <p>
        {{ 'rules12' | translate }}
      </p>
    </li>
    <li>
      <p>
        <b>{{ 'rules13' | translate }}</b>
      </p>
    </li>
  </ul>
  <p>{{ 'rules14' | translate }}</p>
  <p class="attention">
    {{ 'rules15' | translate }}  
  </p>
  <p>
    {{ 'rules16' | translate }}
  </p>
  <p><b>{{ 'rules19bold' | translate }}</b>{{ 'rules19cont' | translate }} </p>
  <ul>
    <li>
      <p>
        {{ 'rules20' | translate }} <a href="../../../assets/pdf/declaratie-consimtamant.pdf" target="_blank" class="attention">{{ 'rules20link' | translate }}</a> {{ 'rules20cont' | translate }}
      </p>
    </li>
    <li>
      <p>
        {{ 'rules21' | translate }}
      </p>
    </li>
  </ul>
</div>

