<app-navbar></app-navbar>

<ion-content>
    <ion-grid id='material-card'>
        <ion-row>
            <ion-col id='form-col'>
                <h1>{{ 'verifyEmailHeader' | translate }}</h1>
                <p class="email-verification-message">{{ 'verifyEmailSubHeader' | translate }}</p>
            </ion-col>
            <ion-row *ngIf='!mobile'>
                <img class='svg-login' src='../../assets/illustrations/Group 2.svg' alt='login illustration'>
                <img class='svg-login' id='login-blob' src='../../assets/illustrations/blob-shape-login.svg'
                    alt='login blob'>
            </ion-row>
        </ion-row>
    </ion-grid>

    <app-footer></app-footer>
</ion-content>