<h2 class="section-title">{{ 'mainOrganizer' | translate }}</h2>
<div class="row">
  <div class="col vertical-align-content">
    <img src="../../assets/images/organizers/ATL_512x512.webp" class="sponsor-image-main" alt="Asociatia Atlantykron" />
  </div>
</div>


<h2 class="section-title">{{ 'inPartnershipWith' | translate }}</h2>
<div class="row">
  <div class="col vertical-align-content">
    <img src="../../assets/images/organizers/WGF-1.webp" class="sponsor-image" alt="World Genesis Foundation" />
    <img src="../../assets/images/organizers/Stiinta-si-tehnica.webp" class="sponsor-image"
      alt="Revista Stiinta si Tehnica" />
    <img src="../../assets/images/organizers/logo-ate.webp" class="sponsor-image"
      alt="Asociata pentru tineret si evolutie" />
  </div>
</div>


<h2 class="section-title">{{ 'collaborators' | translate }}</h2>
<div class="row">
  <div class="col vertical-align-content">
    <img src="../../assets/images/organizers/images.webp" class="sponsor-image" alt="Clubul Nautic Roman" />
    <img src="../../assets/images/organizers/2023_06_22_007_Kleki.png" class="sponsor-image" alt="Urania" />
    <img src="../../assets/images/organizers/AFF.webp" class="sponsor-image" alt="Arta Fara Frontiere" />
    <img src="../../assets/images/organizers/Wisdom-Art-Logo-on-white (1).webp" class="sponsor-image"
      alt="WisdomArt.com" />
    <img src="../../assets/images/organizers/sars-logo.webp" class="sponsor-image" alt="SARS" />
    <img src="../../assets/images/organizers/2023_06_22_00a_Kleki.png" class="sponsor-image"
      alt="Asociatia de studii esoterice" />
    <img src="../../assets/images/organizers/1280px-UNESCO_logo.svg.png" class="sponsor-image" alt="UNESCO" />
  </div>
</div>