.section-title {
    font-size: 35px;
    margin-top: 42.5px;
    margin-bottom: 45px;
}

.sponsor-image-main {
    max-width: 300px;
    max-height: 250px;
    margin: 30px
}

.sponsor-image {
    max-width: 300px;
    max-height: 200px;
    margin: 30px
}

.sponsor-no-img {
    margin-bottom: 30px !important;
    font-size: 25px;
}