.participate-content {
    padding: 40px;
}

.attention {
    color: red;
}

.image-caption {
    text-align: center;
}

.push-bottom {
    padding-bottom: 50px;
}

.segment-image {
    width: 100%;
}

.segment-main-content {
    padding-left: 20px;
}