<div class="participate-content">
  <ion-row>
    <ion-col *ngIf="!menuBreakpoint" size-sm="4">
      <img class="segment-image" src="../../../assets/images/Guide/guide-1.jpeg" alt="Cristian Panfilov" />
      <p class="image-caption"><b>Cristian Panfilov</b></p>
      <p class="image-caption">{{ 'logisticsDirector' | translate }}</p>
      <p class="image-caption push-bottom">
        {{ 'logisticsDirectorDescription' | translate }}
      </p>

      <img class="segment-image" src="../../../assets/images/Guide/guide-2.jpeg" alt="Paza de Coasta" />
      <p class="image-caption">
        <b>{{ 'coastGuard' | translate }}</b>
      </p>
      <p class="image-caption push-bottom">{{ 'dockedNear' | translate }}</p>

      <img class="segment-image" src="../../../assets/images/Guide/guide-3.jpeg" alt="Gara de Nord" />
      <p class="image-caption push-bottom">
        <b>{{ 'bucharestRailStation' | translate }}</b>
      </p>

      <img class="segment-image push-bottom" src="../../../assets/images/Guide/guide-5.jpeg" alt="Cantina Taberei" />
      <p class="image-caption">
        <b>{{ 'canteen' | translate }}</b>
      </p>
    </ion-col>

    <ion-col class="segment-main-content">
      <h1>{{ 'orgTeam' | translate }}</h1>
      <p>{{ 'orgTeam1' | translate }}</p>
      <p>{{ 'orgTeam2' | translate }}</p>
      <p>{{ 'orgTeam3' | translate }}</p>
      <p>
        {{ 'orgTeam4' | translate }}<b>{{ 'orgTeam4Bold' | translate }}</b>{{ 'orgTeam5' | translate }}
      </p>

      <h1>{{ 'whoCan' | translate }}</h1>
      <p>{{ 'whoCan1' | translate }}</p>
      <p>
        {{ 'whoCan2' | translate }}
      </p>

      <h1>{{ 'security' | translate }}</h1>
      <p>{{ 'security1' | translate }}</p>
      <p>{{ 'security2' | translate }}</p>
      <p>{{ 'security3' | translate }}</p>


      <h1>{{ 'transport' | translate }}</h1>
      <p>{{ 'transport1' | translate }}.</p>
      <p>{{ 'transport2' | translate }}</p>
      <p>{{ 'transport3' | translate }}</p>
      <ol>
        <li>
          <p>
            {{ 'transport4' | translate }}
          </p>
        </li>
        <li>
          <p>
            {{ 'transport5' | translate }}
          </p>
        </li>
        <li>
          <p>
            {{ 'transport6' | translate }}
          </p>
        </li>
      </ol>
      <p>{{ 'transport7' | translate }}</p>
      <p>{{ 'transport8' | translate }}</p>

      <h1>{{ 'rustic' | translate }}</h1>
      <p>
        {{ 'rustic1' | translate
        }}<span class="attention">office@atlantykron.org</span>.
      </p>

      <h1>{{ 'foodAndHygiene' | translate }}</h1>
      <p>{{ 'foodAndHygiene1' | translate }}</p>
      <p>{{ 'foodAndHygiene2' | translate }}</p>

      <h1>{{ 'accommodation' | translate }}</h1>
      <p>{{ 'accommodation1' | translate }}</p>
      <p>{{ 'accommodation2' | translate }}</p>

      <h1>{{ 'trash' | translate }}</h1>
      <p>{{ 'trash1' | translate }}</p>

      <h1>{{ 'participants' | translate }}</h1>
      <p>{{ 'participants1' | translate }}</p>

      <h1>{{ 'aTypicalDayGuide' | translate }}</h1>
      <p>{{ 'aTypicalDayGuide1' | translate }}</p>
    </ion-col>
  </ion-row>
</div>