<ion-grid>
	<ion-row>
		<ion-col size='4'>
			<h2 class='section-title'>
				Invitați
			</h2>
			<p>
				Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero
			</p>
			<ion-button fill='outline' class='presentation-button' (click)='navCourses()'>Vezi Toate Cursurile</ion-button>
		</ion-col>
		<ion-col>
			<app-fancy-card 
				[image]="'../../assets/images/17017233_10210709430104890_7762668526959517728_o.jpg'"
				[name]="'Dr. Dumitru Prunariu'"
				[title]="'Primul Cosmonaut Român'">
			</app-fancy-card>
			<app-fancy-card 
				[image]="'../../assets/images/17017233_10210709430104890_7762668526959517728_o.jpg'"
				[name]="'Dr. Dumitru Prunariu'"
				[title]="'Primul Cosmonaut Român'">
			</app-fancy-card>
		</ion-col>
		<ion-col>
			<app-fancy-card 
				[image]="'../../assets/images/17017233_10210709430104890_7762668526959517728_o.jpg'"
				[name]="'Dr. Dumitru Prunariu'"
				[title]="'Primul Cosmonaut Român'">
			</app-fancy-card>
			<app-fancy-card 
				[image]="'../../assets/images/17017233_10210709430104890_7762668526959517728_o.jpg'"
				[name]="'Dr. Dumitru Prunariu'"
				[title]="'Primul Cosmonaut Român'">
			</app-fancy-card>
		</ion-col>
		<ion-col>
			<app-fancy-card 
				[image]="'../../assets/images/17017233_10210709430104890_7762668526959517728_o.jpg'"
				[name]="'Dr. Dumitru Prunariu'"
				[title]="'Primul Cosmonaut Român'">
			</app-fancy-card>
			<app-fancy-card 
				[image]="'../../assets/images/17017233_10210709430104890_7762668526959517728_o.jpg'"
				[name]="'Dr. Dumitru Prunariu'"
				[title]="'Primul Cosmonaut Român'">
			</app-fancy-card>
		</ion-col>
		<!-- <ion-col>
			<app-fancy-card 
				[image]="'../../assets/images/17017233_10210709430104890_7762668526959517728_o.jpg'"
				[name]="'Dr. Dumitru Prunariu'"
				[title]="'Primul Cosmonaut Român'">
			</app-fancy-card>
			<app-fancy-card 
				[image]="'../../assets/images/17017233_10210709430104890_7762668526959517728_o.jpg'"
				[name]="'Dr. Dumitru Prunariu'"
				[title]="'Primul Cosmonaut Român'">
			</app-fancy-card>
		</ion-col> -->
		<!-- <img src='../../assets/illustrations/blob-shape (3).svg' class='blob' alt='invitations blob art'/> -->
	</ion-row>
</ion-grid>