<app-navbar></app-navbar>

<ion-content>
    <ion-grid id='material-card'>
        <ion-row class='main-col'>
                <ion-col size=2 *ngIf="!mobile && !tablet">
                    <div class='year-selection-div'>
                        <p *ngFor="let year of [defaultYear, defaultYear-1, defaultYear-2, defaultYear-3, defaultYear-4]"
                            class='year-selection' 
                            (click)="changeActiveYear(year)"
                            [ngClass]="{active: activeYear==year}"
                            >
                            Parteneri {{year}}
                        </p>
                    </div>
                </ion-col>
                <ion-col justify-content-start float-left>
                    <ion-row *ngIf="mobile || tablet">
                        <ion-item class="select-year central-cards">
                            <ion-label>Selectati anul</ion-label>
                            <ion-select (ionChange)="changeActiveYear($event.target.value)">
                                <ion-select-option *ngFor="let year of [defaultYear, defaultYear-1, defaultYear-2, defaultYear-3, defaultYear-4]"
                                 value="{{year}}">{{year}}</ion-select-option>
                            </ion-select>
                        </ion-item>
                    </ion-row>
                    <h2 class='section' [ngClass]='{"section-center": mobile || tablet}'>Agenții Guvernamentale</h2>
                    <ion-row class="card-grid" >
                        <app-fancy-card 
                            *ngFor="let partner of filter(partners, 'Agenții Guvernamentale')"
                            class='central-cards'
                            [image]="partner.pictureLink"
                            [name]="partner.roTitle"   
                            (click)="navToSingleEntry(partner)"
                        ></app-fancy-card>
                    </ion-row>

                    <h2 class='section' [ngClass]='{"section-center": mobile || tablet}'>Parteneri Oficiali</h2>
                    <ion-row class="card-grid" >
                        <app-fancy-card 
                            *ngFor="let partner of filter(partners, 'Parteneri Oficiali')"
                            class='central-cards'
                            [image]="partner.pictureLink"
                            [name]="partner.roTitle"   
                        ></app-fancy-card>
                    </ion-row>                    
    
                    <h2 class='section' [ngClass]='{"section-center": mobile || tablet}'>Susținători</h2>
                    <ion-row class="card-grid" >
                        <app-fancy-card 
                            *ngFor="let partner of filter(partners, 'Susținători')"
                            class='central-cards'
                            [image]="partner.pictureLink"
                            [name]="partner.roTitle"   
                        ></app-fancy-card>
                    </ion-row>    

                    <h2 class='section' [ngClass]='{"section-center": mobile || tablet}'>Parteneri Media</h2>
                    <ion-row class="card-grid" >
                        <app-fancy-card 
                            *ngFor="let partner of filter(partners, 'Parteneri Media')"
                            class='central-cards'
                            [image]="partner.pictureLink"
                            [name]="partner.roTitle"   
                        ></app-fancy-card>
                    </ion-row>                    
                </ion-col>
        </ion-row>
    </ion-grid>


    <app-footer></app-footer>
</ion-content>